@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #FDFBF5;
    color: #333
}

.destaque-paragrafo {
    color : #333;
    padding: 2px 4px;
}

p {
    color: #333;
    font-family: 'Montserrat', sans-serif; /* Fonte limpa e moderna para parágrafos */
}

.container-header{
    margin: 1% 5%;
    display: flex; /* or inline-flex */
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente ao centro */  
}

.container {
    margin: 5% 10%;
    display: flex; /* or inline-flex */
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente ao centro */
    min-height: 850px;
}

.texto-container {
    width: 600px; /* Limita a largura do texto */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

 .titulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
 }

 .paragrafo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 20px;
 }

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

 .subtitulo{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color:#e49464;
    width: 200px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:#333;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    box-shadow: 5px 5px grey;
}

.links:hover {
    background-color: #bc6349;
}

.fa{
    margin-top: 4px;
}

.imagem {
    border-radius: 16px;
    max-width: 400px;
}

.main-header {
    background-color: #b4bf99;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 150px;
    border-radius: 16px; /* Ajusta o tamanho da logo */
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.main-nav a:hover {
    color: #C06A52; /* Terracota para o efeito hover */
}

